#calendar{width:220px;margin:auto;margin-top:60px;}
.singer_r_img {
	display: block;
	line-height: 45px;
	vertical-align: middle;
	margin-bottom: -10px;
	text-decoration: none;
}

.singer_r_img:hover {
	background-position: right -53px;
	text-decoration: none;
}

.singer_r_img span {
	margin-left: 14px;
	font-size: 16px;
	font-family: 'Hiragino Sans GB','Microsoft YaHei',sans-serif !important;
	font-weight: 700;
	color: #165379;
}

.singer_r_img.current {
	/* background: url(images/sing_sing.gif) no-repeat 0 2px; */
	border: 0;
	text-decoration: none;
}


.sign_succ_calendar_title {
    display:none;
	text-align: center;
	/*width: 398px;*/
	/* border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3; */
	/* background: #fff; */
}
/* .calendar_left .sign_succ_calendar_title{display: block;border-bottom: 1px solid #ccc;} */
.calendar_left .prevbtn{font-size: 16px;line-height: 41px;float: left;padding: 0 20px;cursor: pointer;}
.calendar_left .nextbtn{font-size: 16px;line-height: 41px;float: right;padding: 0 20px;cursor: pointer;}
.sign_main {
	/*width: 400px;*/
/**background-color: #FBFEFE;**/
	/* border-top: 1px solid #e3e3e3; */
	font-family: "Microsoft YaHei",SimHei;
	display: block;
}

.calendar_month_span {
	display: inline;
	line-height: 40px;
	font-size: 16px;
	color: #656565;
	letter-spacing: 2px;
	/* font-weight: bold; */
}

.sign_equal {
	display:table;
	border-collapse:separate;
	width: 100%;
    position:relative;
}
.sign_equal:after{
    width:240px;height:240px;display:inline-block;position:absolute;top:0;left:-10px;line-height:240px;font-size:160px;color:rgba(235, 73, 75, 0.2);text-align: center;
}
.sign_row {
	display:table-row;
}
.sign_row div {
	display:table-cell;
	width:14.3%;
    text-align: center;
    line-height: 35px;
	color:#323232;
	font-size: 14px;
}
.sign_row .bold{
	font-weight: bold;
}
.sign_equal .on {position:relative;
    
}
.sign_equal .on::after{content:"";border-radius:50%;border:2px solid #eb494b;width:25px;height:25px;display:inline-block;position:absolute;top:4px;left:1px;}

.sign_contener,.sign_contener:visited {
	line-height: 30px;
	background: #00a0e9;
	border: none;
	color: white;
	border-radius: 30px;
	padding: 0 10px;
	font-size: 16px;
}

.sign_contener:hover{
	background-color: red;
} 
