
* {
    margin: 0;
    padding: 0;
    list-style: none;
}


.mypage{background-color:#fff;text-align:center;}


.tcdPageCode {
    padding: 15px 5px 15px 20px !important;
    /*text-align: center;*/
    color: #ccc;
    display:inline-block
}

.pageDetail {
    /*float: left;*/
    line-height: 30px;
    padding: 15px 20px 15px 5px;
    color:#999;
    font-size:12px;
    display:inline-block;
}
.pageDetail input{width:40px;height:30px;line-height:20px;text-align:center;margin:0 4px;font-size:12px;}
.pageDetail button{line-height:30px;padding:0 10px;text-align:center;margin:0 4px;font-size:12px;border:0;background-color:#eb494b;color:#fff;border-radius:3px;cursor:pointer;}
.pageDetail button:active{background-color:#bf0d0e;}
.tcdPageCode a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    min-width:30px;
    text-align: center;
    /*padding: 0 15px;*/
    border: 0px solid #ddd;
    margin: 0 4px;
    border-radius: 3px;
    vertical-align: middle;
    background-color:#eb494b
}

.lastpage {
    padding: 0 9px;
}

.tcdPageCode a:hover {
    text-decoration: none;
    background-color:#bf0d0e;
    color:#fff;
    border: 0;
}

.tcdPageCode span.current {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    text-align: center;
    /*padding: 0 10px;*/
    margin: 0 2px;
    color: #fff;
    background-color: #e0e0e0;
    border: 0px solid #fff;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 12px;
}

.tcdPageCode span.disabled {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    text-align: center;
    /*padding: 0 15px;*/
    margin: 0 2px;
    color: #fff;
    background: #eb494b;
    border: 0px solid #bfbfbf;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 12px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}
.totalPag{margin:0 4px;}